<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "Gestión Clínica Veterinaria" }}</title>
  <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Veterinaria</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.list_owners') }}">Dueños</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.list_species') }}">Especies y Razas</a>
                    </li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('main.appointments') }}">Citas</a>
					</li>
                </ul>
            </div>
	</div>
	<div class="collapse navbar-collapse">
				<ul class="navbar-nav ms-auto">
					{% if current_user.is_authenticated %}
					    <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="testDropdown" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							  Bienvenido, {{ current_user.username }}
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="testDropdown">
							  <li><a class="dropdown-item" href="{{ url_for('auth.update_password') }}">Actualizar Contraseña</a></li>
							  <li><hr class="dropdown-divider"></li>
							  <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
							</ul>
					  </li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
						</li>
				    {% endif %}
				</ul>
			</div>
  </nav>
    <!-- Main Content -->
    <div class="container mt-4 flex-grow-1">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-dark py-3">
        <p class="mb-0">© 2025 Clínica Veterinaria</p>
    </footer>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
